* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #7c75e2;
  justify-content: center;
  align-items: center;
}

#start-screen {
  background-color: #7c75e2;
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 2;
  cursor: pointer;
}

h1,
#time-limit {
  text-align: center;
  margin-top: 20px;
  font-size: 3rem;
}

#time-limit {
  font-size: 2rem;
}

#container {
  background-color: #7c75e2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.grid {
  background-color: beige;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  margin: 10px 15px 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}

#points {
  text-align: center;
  margin-top: 20px;
  font-size: 3rem;
}

#highscore {
  text-align: center;
  font-size: 3rem;
}
